*{
  box-sizing: border-box;
}

body{
  text-align: center;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.flex{
  flex: 0 1 20%;
  width: 250px;
  /*height: 250px;*/
  margin: 20px 5px;
  align-items: center;
  justify-content: flex-start;
}

.info{
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  max-width: 100%;
}

.name{
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 1px solid green;
  max-resolution: 100%;
}
img{
  height: 150px;
  width: 150px;
}
.profile-pic{
  height: 250px;
  width: 100%;
  background-size: cover;
  margin: 75px 5px;
}

.streetAdd .locationAdd{
  font-size: 10px;
}
.socialNum{
  color: gray;
  text-shadow: 0 0 5px rgba(200, 231, 213, 0.5);
  filter: blur(3px);

}
